@font-face {
    font-family: pixelEu;
    src: url("../font/SHPinscher-Regular.otf");
}

body{
    flex: 1;
    background-image: url("https://raw.githubusercontent.com/andreoluiz/andreoluiz.github.io/main/images/_24daded1-c3fd-4461-a4dc-b118541a6e87.jpg");
    background-size: cover;
    color: black;
    background-repeat: no-repeat;
}


#container_meio {

    background-color: rgb(216, 188, 112);
    border: 10px solid rgb(201, 149, 58);
    font-family: pixelEu;
    font-size: 1.2rem;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

#botoes {
    display: flex;
    
}

#botao1 {
    margin: auto;

    
}

#botao2 {
    margin: auto;
}

#container_meio img{
    margin: auto;
    display: block;
    width: 20%;
}

.subtl {
    text-decoration: underline;
}

#imagem-cont {
    padding-bottom: 3rem;
}

.pader {
    padding-bottom: 2rem;
    margin-left: 20px;
    margin-right: 20px;
}


@media(max-width: 450px) {
   
    #container_meio{
        margin-top: 11%;
        margin-bottom: 10%;
        width: 80%;
    }
    
    #container_meio img{
        width: 40%;
    }
}
