@font-face {
    font-family: pixelEu;
    src: url("../font/SHPinscher-Regular.otf");
}


body{
    flex: 1;
    background-image: url("https://raw.githubusercontent.com/andreoluiz/andreoluiz.github.io/main/images/_24daded1-c3fd-4461-a4dc-b118541a6e87.jpg");
    background-size: cover;
    color: black;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}


#container_meio {
    color: black;
    background-image: url(../images/oldScrollMID.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    font-family: pixelEu;
    font-size: 1.2rem;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

#container_meio img{
    margin: auto;
    display: block;
    width: 20%;
}

.subtl {
    text-decoration: underline;
}

#imagem-cont {
    padding-bottom: 3rem;
}

#botoes {
    display: flex;

    
}

.pader {
    padding-bottom: 2rem;
    margin-left: 5%;
    margin-right: 5%;
}

#botao1 {
    margin: auto;

}

#contatos {
    margin-left: 5%;
    margin-right: 5%;
}

#botao2 {
    margin: auto;
}






@media(max-width: 450px) {

    #container_meio{
        margin-top: 11%;
        margin-bottom: 10%;
        width: 100%;

    }
    
    #container_meio img{
        width: 40%;
    }

    .pader {
        padding-bottom: 2rem;
        margin-left: 12%;
        margin-right: 12%;
    }

    #botoes {
        padding: 15%;
    }

}
